name: CI

on:
- push
- pull_request
- workflow_dispatch

jobs:
  main:
    strategy:
      matrix:
        python: ['3.10', '3.11', '3.12', '3.13', '3.14']
    runs-on: ubuntu-latest
    name: Python ${{ matrix.python }}
    steps:
    - uses: actions/checkout@v6
    - name: set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python }}
    - name: prepare pip
      run:
        python -m pip install --upgrade pip setuptools
    - name: install package
      run:
        python -m pip install .[dev]
    - name: run tests
      run:
        pytest --verbose tests
    - name: run flake8
      run:
        flake8 swagger_parser tests setup.py
    - name: build docs
      run:
        sphinx-build -n -W --keep-going -T -b html docs build/sphinx/html
